In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import copy
import warnings
# from scipy import stats
# from scipy.stats import t
from IPython.display import display
from sklearn import tree
from sklearn import metrics
from sklearn.metrics import accuracy_score
# from sklearn.metrics import roc_curve
# from sklearn.metrics import auc
# from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import StratifiedKFold
# from sklearn.model_selection import StratifiedShuffleSplit
# from sklearn.ensemble import BaggingClassifier
# from sklearn.model_selection import RepeatedStratifiedKFold
# from sklearn import naive_bayes
# from sklearn import neighbors
# from sklearn import preprocessing
%matplotlib inline

In [6]:
# Loading the data set and splitting off the target feature, 'Class'
image_df = pd.read_table("uspsdata.txt", header=None)
class_df = pd.read_table("uspscl.txt", header=None)
display(image_df.head(5))
display(class_df.head(5))

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.0,0.0,0.00,0.00,0.95,11.91,49.02,106.96,152.14,157.77,...,145.84,154.03,152.60,142.38,125.40,100.57,69.80,38.67,14.58,2.80
1,0.0,0.0,3.31,19.03,51.45,87.66,106.14,102.35,96.37,106.66,...,125.28,141.59,145.34,135.52,110.81,74.17,36.65,11.53,1.81,0.07
2,0.0,0.0,0.02,1.86,12.63,42.03,84.17,104.87,79.06,32.90,...,158.29,150.08,134.27,113.54,85.57,52.14,23.76,7.75,1.76,0.23
3,0.0,0.0,0.00,0.01,5.93,33.21,75.00,85.97,51.36,14.25,...,157.26,156.53,139.58,104.68,63.12,28.38,8.15,1.11,0.02,0.00
4,0.0,0.0,0.94,8.57,32.06,63.96,74.10,50.12,18.39,2.83,...,93.12,87.66,59.11,26.47,8.72,2.48,0.42,0.00,0.00,0.00

   0
0 -1
1 -1
2  1
3  1
4  1

In [7]:
img_train, img_test, class_train, class_test = train_test_split(image_df,
                                                                class_df,
                                                                test_size=0.20,
                                                                random_state=123)